#  In this hosts file, you can specify the hostname of the NCRT agents.
#  It also allows you to specify communication settings to their hosts / agents.
#
#  "agenttype_linux" assumes ncrtagent daemon as the agent, and uses ncrtagent
#  protocol for its communication.
#
#  Following options are available:
#
#      Agent Side Options:
#          home_dir
#          daemon_user			(default:ncrtagent)
#          listen_address		(default:0.0.0.0)
#          listen_port
#          allow			list of IP addr, ex: x.x.x.x,y.y.y.y,...
#          firewalld_port		(defalut:empty string, not permit to operate firewalld)
#
#      Master Side Options:
#          timeout
#          agent_address		(default:follow the instructions in resolv.conf)
#          agent_port			(default:46848)
#          agent_protocol		ncrtagent / npre (default:ncrtagent)
#
#      Builder Side Options:
#          ansible_become
#          ansible_user
#          ansible_become_user
#          ansible_become_method
#
*	home_dir=/opt/ncrtagent	daemon_user=ncrtagent	listen_address=0.0.0.0	listen_port=46848	allow=127.0.0.0/8,10.5.3.0/24,172.18.65.0/24	firewalld_port=46848	timeout=50	agent_address=	agent_port=46848	agent_protocol=ncrtagent	ansible_become=yes	ansible_user=opc	ansible_become_user=root	ansible_become_method=sudo

samplevm001
samplevm002

