#  In this hosts file, you can specify the hostname of the NCRT agents.
#  It also allows you to specify communication settings to their hosts / agents.
#
# AVAILABLE OPTIONS:
#	home_dir=
#	daemon_user=
#	listen_address=
#	listen_port=5666
#	timeout=
#	agent_port=
#	allow=
#	ansible_user=
#	ansible_become=
#	ansible_become_user=
#	ansible_become_method=
#	ansible_brew_proxy=
#	ansible_cpanm_proxy=

*		allow=10.0.0.0/8

macosmachine1
macosmachine2	ansible_cpanm_proxy=http://proxy.local:8080
