!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

#
/conf/*.md
/conf/*.deb
/conf/*.rpm
/conf/*.pem
/conf/*.conf
/conf/*.yml
/conf/*.tt
/conf/*.hosts
/conf/*.rules
# settings for measures
/conf/plugins/agent/*.hosts
/conf/plugins/agent/*.rules
/conf/plugins/agent/*.ignores
/conf/plugins/agent/*.categories
/conf/plugins/agent/*.conf
/conf/plugins/agentless/*.conf
/conf/plugins/indirect/*.conf
/conf/plugins/reporter/*.conf
/conf/plugins/reporter/*.*rules
/conf/plugins/reporter/*.tt
/conf/plugins/agenttype/*.conf
/conf/plugins/agenttype/*.pem
/conf/plugins/agenttype/*.hosts
/conf/plugins/agenttype/*.yml
/conf/plugins/mastertype/*.conf
/conf/plugins/mastertype/*.htpasswd
/conf/plugins/mastertype/*.hosts
/conf/plugins/contact/*.conf
# settings for NCRT core functions
/conf/ncrt/*.conf
# option parameters
/conf/ncrt/naemondirective/*.optionrules
# threshold settings
/conf/ncrt/threshold/*.thresholds
# settings for miscs
/conf/ncrt/metricfilter/*.filterrules
/conf/ncrt/thresholdfilter/*.filterrules
# filters
/filters/*.filter
#
/playbooks/*.retry
/src/*
!.gitkeep

