!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

#
/conf/*.deb
/conf/*.rpm
/conf/*.pem
/conf/*.conf
/conf/service/*.rules
/conf/service/*.ignores
/conf/service/*.categories
/conf/service/*.thresholds
/conf/hosttype/*.hosts
/conf/hosttype/*.virtualhosts
/ncrtmaster/conf/*.conf
/ncrtmaster/conf/*.tt
/ncrtmaster/conf/*.rules
/playbooks/*.retry
/src/*
!.gitkeep

