
#### Ansible settings
ANSIBLEOPTIONS=-u root

#### NCRTAgent settings
NCRTAGENTHOME=/opt/ncrtagent

#### NCRTMaster settings
NCRTMASTERHOME=/opt/ncrtmaster

#### grafana-dashboard-helper settings
HELPERURL=http://example.com/grafana-dashboard-helper

#### Grafana Dashboard Helper settings
HELPERURL=https://example.com/grafana-dashboard-helper
ACTIONURL_FOR_HOST=<helperurl>/jump_to_dashboard_by_series_name.html?q=ncrt_ping,host%3d<host>
ACTIONURL_FOR_HOSTSERVICE=<helperurl>/jump_to_dashboard_by_series_name.html?q=ncrt_<service>,host%3d<host>


