
MAILFROM=admin@example.com
SESSIONDIR=/var/www/ncrtmaster
SESSIONBASE=http://example.com/ncrtmaster

HELPERURL=http://example.com/naemon2influx-grafana-helper
GRAFANAURL=http://example.com/grafana
GRAFANAAPIKEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
GRAFANAORGID=1
DEBUG=0

