<html>
<head>
  <title>Service Group "[% SERVICEGROUP %]"</title>
  <style>
    table, td, th {
      border-collapse: collapse;
      border:1px solid #333;
      padding: 4px;
    }
    th { font-size: 14px; font-color: #aaaaaa; }
    td { font-size: 12px; }
  </style>
</head>
<body>
  <h3>Current NG Status</h3>
  <table>
    <tr>
      <th>host</th>
      <th>service</th>
      <th>status</th>
      <th>latest timestamp</th>
      <th>performance name</th>
      <th>value</th>
      <th>threshold</th>
      <th>priority</th>
    </tr>
    [% FOREACH ng IN ngs %]
    [%     rowspan = ng.performances.size + ng.messages.size -%]
    [%     firstrow = 1 -%]
    [%     FOREACH performance IN ng.performances -%]
    <tr>
      [%       IF firstrow -%]
      <td rowspan="[% rowspan %]">[% ng.host %]</td>
      <td rowspan="[% rowspan %]">[% ng.service %]</td>
      <td rowspan="[% rowspan %]">[% ng.state %]</td>
      <td rowspan="[% rowspan %]">[% ng.timestamp %]</td>
      [%       END -%]
      <td>[% performance.name %]</td>
      <td>[% performance.value %]</td>
      [%       IF    performance.side == "upper" -%][%op="&gt;"-%]
      [%       ELSIF performance.side == "lower" -%][%op="&lt;"-%]
      [%       END -%]
      <td>[% op %][% performance.threshold %]</td>
      <td>[% performance.priority %]</td>
      [%       IF firstrow -%]
      <td rowspan="[% rowspan %]"><a href="#[% ng.host %],[% ng.service %]">Graphs</a></td>
      <td rowspan="[% rowspan %]"><a href="/pub/thruk/#cgi-bin/extinfo.cgi?type=2&host=[% ng.host %]&service=[% ng.service %]">Thruk</a></td>
      <td rowspan="[% rowspan %]"><a href="/pub/naemon2influx-grafana-helper/redirect.html?hostname=[% ng.host %]&servicedesc=[% ng.service %]">Grafana</a></td>
      [%       END -%]
    </tr>
    [%         firstrow = 0 -%]
    [%     END -%]
    [%     FOREACH message IN ng.messages -%]
    <tr>
      [%       IF firstrow -%]
      <td rowspan="[% rowspan %]">[% ng.host %]</td>
      <td rowspan="[% rowspan %]">[% ng.service %]</td>
      <td rowspan="[% rowspan %]">[% ng.state %]</td>
      <td rowspan="[% rowspan %]">[% ng.timestamp %]</td>
      [%       END -%]
      <td colspan="4">[% message %]</td>
      [%       IF firstrow -%]
      <td rowspan="[% rowspan %]"><a href="#[% ng.host %],[% ng.service %]">Graphs</a></td>
      <td rowspan="[% rowspan %]"><a href="/pub/thruk/#cgi-bin/extinfo.cgi?type=2&host=[% ng.host %]&service=[% ng.service %]">Thruk</a></td>
      <td rowspan="[% rowspan %]"><a href="/pub/naemon2influx-grafana-helper/redirect.html?hostname=[% ng.host %]&servicedesc=[% ng.service %]">Grafana</a></td>
      [%       END -%]
    </tr>
    [%         firstrow = 0 -%]
    [%     END -%]
    [% END %]
  </table>

  <h3>Graphs</h3>
  <ul>
    [% FOREACH graph IN graphs %]
    [%-    curr_host_service = graph.host _ "," _ graph.service -%]
    [%-    IF curr_host_service != last_host_service -%]
    [%-        last_host_service = curr_host_service -%]
    <li><a name="[%graph.host%],[%graph.service%]">[%graph.host%], [%graph.service%]</a></li>
    [%-    END -%]
    <li><img src="[% urlencode(graph.file) %]"></li>
    [% END %]
  </ul>
</body>
</html>


