From: "Naemon" <[%MAILFROM%]>
To: "You" <[%MAILTO%]>
[% IF    reason == "CHANGE" -%]
Subject: [ALERT] "[%SERVICEGROUP%]" Status has Changed
[% ELSIF reason == "KEEP" -%]
Subject: [ALERT] "[%SERVICEGROUP%]" Has been NG
[% ELSE -%]
Subject: [ALERT] "[%SERVICEGROUP%]"
[% END -%]
[% performances = 0 -%]
[% messages = 0 -%]

[% IF ngs.size > 0 -%]
=== Current Service NG Status ===

host                 service              state
-------------------- -------------------- ------
[%     FOREACH ng IN ngs -%]
[%         safesprintf("%-20s %-20s %s", ng.host, ng.service, ng.state) %]
[%         performances = performances + ng.performances.size -%]
[%         messages = messages + ng.messages.size -%]
[%     END -%]

[% ELSE -%]
=== All Services Have OK Status ===

[% END -%]
[% IF nghistory.size > 0 -%]
=== Recent Service NG Status Changes ===

timestamp           host                 service              state change
------------------- -------------------- -------------------- -------------
[%     FOREACH ngchange IN nghistory -%]
[%         safesprintf("%-19s %-20s %-20s %s->%s", ngchange.timestamp, ngchange.host, ngchange.service, ngchange.laststate, ngchange.state) %]
[%     END -%]

[% END -%]
[% IF performances > 0 -%]
=== Current Performance NG Status Detail ===

host            item                           prio value      threshold
--------------- ------------------------------ ---- --------   ---------
[%     FOREACH ng IN ngs -%]
[%         FOREACH performance IN ng.performances -%]
[%             IF    performance.side == "upper" -%][%op=">"-%]
[%             ELSIF performance.side == "lower" -%][%op="<"-%]
[%             END -%]
[%             safesprintf("%-15s %-30s %4s %8s %1s %-8s", ng.host, performance.name, performance.priority, performance.value, op, performance.threshold) %]
[%         END -%]
[%     END -%]

[% END -%]
[% IF messages > 0 -%]
=== Current Messages ===

host                 service              message
-------------------- -------------------- ------------------------------
[%     FOREACH ng IN ngs -%]
[%         FOREACH message IN ng.messages -%]
[%             safesprintf("%-20s %-20s %s", ng.host, ng.service, message) %]
[%         END -%]
[%     END -%]

[% END -%]
----
You get lastest NG status at following:
[% SESSIONURL %]

