Subject: [%HOSTALIAS%]: state of [%SERVICEDESC%] has changed to [%SERVICESTATE%]
From: "NCRT Monitor" <ncrt@example.org>
To: "You" <[%MAILTO%]>

hostname         : [%HOSTALIAS%] ([%HOSTADDRESS%])
service          : [%SERVICEDESC%]
type             : [%NOTIFICATIONTYPE%]
state of the host: [%SERVICESTATE%]
detection time   : [%LONGDATETIME%]

[%SERVICEOUTPUT%]
EOF

