From: "Naemon ServiceGroup Reporter" <[%MAILFROM%]>
To: "You" <[%MAILTO%]>
[% ngservices = [] -%]
[% FOREACH i IN highlighted_services -%]
[%     IF    i.value.hard_state == "0" -%]
[%     ELSIF i.value.hard_state == "1" %][% ngservices.push(i.value) -%]
[%     ELSIF i.value.hard_state == "2" %][% ngservices.push(i.value) -%]
[%     ELSIF i.value.hard_state == "3" %][% ngservices.push(i.value) -%]
[%     ELSE %][% END -%]
[% END -%]
[% IF    reason == "open" -%]
Subject: [ALERT] "[%SERVICEGROUP%]" is now NG
[% ELSIF ngservices.size == 0 -%]
Subject: [ALERT] All Status of "[%SERVICEGROUP%]" are OK
[% ELSIF servicestate_history.size > 0 -%]
Subject: [ALERT] "[%SERVICEGROUP%]" Status has Changed
[% ELSE -%]
Subject: [ALERT] "[%SERVICEGROUP%]" Has been NG
[% END -%]

[% IF ngservices.size > 0 -%]
[% localtime(NOW) %]
=== Current Service NG Status ===

host                 service              state
-------------------- -------------------- ------
[%     FOREACH ng IN ngservices -%]
[%         IF    ng.hard_state == "0" %][% state = "OK" -%]
[%         ELSIF ng.hard_state == "1" %][% state = "WARN" -%]
[%         ELSIF ng.hard_state == "2" %][% state = "CRIT" -%]
[%         ELSE %][% state = "UNKNOWN" %][% END -%]
[%         safesprintf("%-20s %-20s %s", ng.host, ng.service, state) %]
[%     END -%]

[% ELSE -%]
=== All Services Have OK Status ===

[% END -%]
[% IF servicestate_history.size > 0 -%]
=== Recent Service NG Status Changes ===

timestamp           host                 service              state change
------------------- -------------------- -------------------- -------------
[%     FOREACH change IN servicestate_history -%]
[%         IF    change.old == "0" %][% old_state = "OK" -%]
[%         ELSIF change.old == "1" %][% old_state = "WARN" -%]
[%         ELSIF change.old == "2" %][% old_state = "CRIT" -%]
[%         ELSE %][% old_state = "UNKNOWN" %][% END -%]
[%         IF    change.new == "0" %][% new_state = "OK" -%]
[%         ELSIF change.new == "1" %][% new_state = "WARN" -%]
[%         ELSIF change.new == "2" %][% new_state = "CRIT" -%]
[%         ELSE %][% new_state = "UNKNOWN" %][% END -%]
[%         safesprintf("%-19s %-20s %-20s %s->%s", localtime(change.timestamp), change.host, change.service, old_state, new_state) %]
[%     END -%]

[% END -%]
[% IF perfstate_history.size > 0 -%]
=== Recent Performance NG Status Changes ===

timestamp           host                 performance          state change
------------------- -------------------- -------------------- -------------
[%     FOREACH change IN perfstate_history -%]
[%         IF    change.old == "0" %][% old_state = "OK" -%]
[%         ELSIF change.old == "1" %][% old_state = "WARN" -%]
[%         ELSIF change.old == "2" %][% old_state = "CRIT" -%]
[%         ELSE %][% old_state = "UNKNOWN" %][% END -%]
[%         IF    change.new == "0" %][% new_state = "OK" -%]
[%         ELSIF change.new == "1" %][% new_state = "WARN" -%]
[%         ELSIF change.new == "2" %][% new_state = "CRIT" -%]
[%         ELSE %][% new_state = "UNKNOWN" %][% END -%]
[%         safesprintf("%-19s %-20s %-20s %s->%s", localtime(change.timestamp), change.host, change.perf, old_state, new_state) %]
[%     END -%]

[% END -%]
[% IF highlighted_perfs.size > 0 -%]
=== Current Performance Status Details ===

host            item                             p value    threshold
--------------- -------------------------------- - -------- ---------
[%     FOREACH ng IN highlighted_perfs -%]
[%         IF    ng.value.statetext == "under_crit" %][%op="<"%][%pr="C"%][%th=ng.value.crit-%]
[%         ELSIF ng.value.statetext == "over_crit"  %][%op=">"%][%pr="C"%][%th=ng.value.crit-%]
[%         ELSIF ng.value.statetext == "under_warn" %][%op="<"%][%pr="W"%][%th=ng.value.warn-%]
[%         ELSIF ng.value.statetext == "over_warn"  %][%op=">"%][%pr="W"%][%th=ng.value.warn-%]
[%         ELSE %][%op=" "%][%pr=" "%][%th=" "-%]
[%         END -%]
[%         safesprintf("%-15s %-32s %1s %8s%1s%-8s", ng.value.host, ng.value.name, pr, ng.value.value, op, th) %]
[%     END -%]

[% END -%]
----
You get lastest NG status at following:
[% SESSIONURL %]
