
services:

  ncrt-influxdb:
    container_name: ncrt-influxdb
    image: influxdb:2
    volumes:
      - {{DATADIR}}/../containerdata/influxdb2_data:/var/lib/influxdb2
      - ../containerdata/influxdb2_config:/etc/influxdb2
    ports:
      - "8086:8086"

  ncrt-grafana:
    container_name: ncrt-grafana
    image: grafana/grafana-oss
    user: "0"
    volumes:
      - ../containerdata/grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_LOG_LEVEL=debug
      - GF_SERVER_ROOT_URL={{BROWSERSIDE_URL_PREFIX}}grafana/
      - GF_RENDERING_SERVER_URL=http://ncrt-renderer:8081/render
      - GF_RENDERING_CALLBACK_URL=http://ncrt-grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
      - "HTTP_PROXY="
      - "HTTPS_PROXY="
      - "http_proxy="
      - "https_proxy="

  ncrt-renderer:
    container_name: ncrt-renderer
    image: grafana/grafana-image-renderer:latest
    ports:
      - "8081:8081"
    environment:
      - "HTTP_PROXY="
      - "HTTPS_PROXY="
      - "http_proxy="
      - "https_proxy="

  ncrt-naemon:
    container_name: ncrt-naemon
    build:
      context: ./ncrt-naemon
      args:
        - APT_PROXY={{PROXY}}
    hostname:       ncrt-naemon
    privileged:     true
    ports:
      - "{{SERVERSIDE_PORT}}:80"
    environment:
      - "BROWSERSIDE_URL_PREFIX={{BROWSERSIDE_URL_PREFIX}}"
      - "SERVERSIDE_PATH_PREFIX={{SERVERSIDE_PATH_PREFIX}}"
    volumes:
      - ..:/opt/ncrtmaster




