
services:

  ncrt-influxdb:
    image: influxdb:2
    volumes:
      - {{DATADIR}}../containerdata/influxdb2_data:/var/lib/influxdb2
      - ../containerdata/influxdb2_config:/etc/influxdb2
    ports:
      - "8086:8086"

  ncrt-grafana:
    image: grafana/grafana-oss
    user: "0"
    volumes:
      - ../containerdata/grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_LOG_LEVEL=debug
      - GF_SERVER_ROOT_URL={{URL_PREFIX}}grafana/
      - GF_RENDERING_SERVER_URL=http://ncrt-renderer:8081/render
      - GF_RENDERING_CALLBACK_URL=http://ncrt-grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
      - "HTTP_PROXY="
      - "HTTPS_PROXY="
      - "http_proxy="
      - "https_proxy="

  ncrt-renderer:
    image: grafana/grafana-image-renderer:latest
    ports:
      - "8081:8081"
    environment:
      - "HTTP_PROXY="
      - "HTTPS_PROXY="
      - "http_proxy="
      - "https_proxy="

  ncrt-naemon:
    build:
      context: ./ncrt-naemon
      args:
        - APT_PROXY={{PROXY}}
    container_name: ncrt-naemon
    hostname:       ncrt-naemon
    privileged:     true
    ports:
      - "{{APACHE_OUTSIDEPORT}}:80"
    environment:
      - "URL_PREFIX={{URL_PREFIX}}"
      - "APACHE_PREFIX={{APACHE_PREFIX}}"
      #- "GDH_LISTENPORT=46849"
      #- "GDH_GRAFANAURL=46849"
      - "INFLUXDB_ORG={{INFLUXDB_ORG}}"
      - "INFLUXDB_BUCKET={{INFLUXDB_BUCKET}}"
      - "INFLUXDB_OPTIONALBUCKET={{INFLUXDB_OPTIONALBUCKET}}"
      - "INFLUXDB_ARCHIVEBUCKET={{INFLUXDB_ARCHIVEBUCKET}}"
      - "INFLUXDB_TOKEN={{INFLUXDB_TOKEN}}"
      - "GRAFANA_TOKEN={{GRAFANA_TOKEN}}"
    volumes:
      - ..:/opt/ncrtmaster




