
#### Ansible settings
ANSIBLEOPTIONS=-u root

#### NCRTAgent settings
NCRTAGENTHOME=/opt/ncrtagent

#### NCRTMaster settings
NCRTMASTERHOME=/opt/ncrtmaster

#### grafana-dashboard-helper settings
HELPERURL=http://example.com/grafana-dashboard-helper

#### Grafana settings
GRAFANAURL=https://example.com/grafana
GRAFANAADMINUSER=still_making
GRAFANAADMINPASSWD=still_making
GRAFANADATASOURCE=influxdb
GRAFANADB=naemon
GRAFANAUSER=naemon
GRAFANAPASSWD=naemon
GRAFANAAPIKEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GRAFANAORGID=3

#### InfluxDB settings
INFLUXDBHOST=localhost
INFLUXDBPORT=8086
INFLUXDBDATABASE=naemon
INFLUXDBADMINUSER=admin
INFLUXDBADMINPASSWD=admin
INFLUXDBUSER=naemon
INFLUXDBPASSWD=naemon

