
ANSIBLEOPTIONS=-u root
NCRTAGENTHOME=/opt/ncrtagent
NCRTMASTERHOME=/opt/ncrtmaster
GRAFANAURL=http://example.com/grafana/
GRAFANADB=naemon
GRAFANAUSER=naemon
GRAFANAPASSWD=naemon
INFLUXDBHOST=localhost
INFLUXDBPORT=8086
INFLUXDBDATABASE=naemon
INFLUXDBADMINUSER=admin
INFLUXDBADMINPASSWD=admin
INFLUXDBUSER=naemon
INFLUXDBPASSWD=naemon

AGENTPACKAGE=nrpe
NRPEPORT=5666
NRPETLS=yes
