
=== VirtualHost001 ===

VirtualService01	/var/cache/naemon/live	srchost001,realservice01

=== RemoteHost002 ===

service02		https://username:password@example.com/Livestatus-API/index.php/      RemoteHost002,service02


