
#### Grafana settings
GRAFANAURL=https://example.com/grafana
GRAFANAADMINUSER=still_making
GRAFANAADMINPASSWD=still_making
GRAFANADATASOURCE=InfluxDB
GRAFANADB=ncrt
GRAFANAUSER=ncrt
GRAFANAPASSWD=ncrt
GRAFANAAPIKEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GRAFANAORGID=2

#### InfluxDB settings
INFLUXDBHOST=localhost
INFLUXDBPORT=8086
INFLUXDBPREFIX=ncrt
INFLUXDBDATABASE=ncrt
# account for database creation, user creation, grafana-dashboard-helper
INFLUXDBADMINUSER=ncrtadmin
INFLUXDBADMINPASSWD=XXXXXXXX
# account for naemon2influx
INFLUXDBUSER=ncrt
INFLUXDBPASSWD=XXXXXXXX

