<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Alert Group "[% ALERTGROUP %]"</title>
  <style>
    table, td, th {
      border-collapse: collapse;
      border:1px solid #333;
      padding: 4px;
    }
    th { font-size: 14px; font-color: #aaaaaa; }
    td { font-size: 12px; }
  </style>
</head>
<body>
[% IF ACTION == "open" || ACTION == "update" || ACTION == "close" -%]
  [%- IF FIRED_HOSTS_IN_LIST_FORM.size > 0 -%]
  <h3>Alert Group "[% ALERTGROUP %]" Current Host Status</h3>
  <table>
    <tr>
      <th>host</th>
      <th>service</th>
      <th>status</th>
      <th>links</th>
    </tr>
    [%- FOREACH i IN FIRED_HOSTS_IN_LIST_FORM -%]
    [%-     s = FIRING_HOSTS_IN_HASH_FORM.${i.host} -%]
    <tr>
      <td>[% i.host %]</td>
      <td>[% s.state %]</td>
      <td>
        <a href="/tng/thruk/cgi-bin/extinfo.cgi?type=2&host=[% i.host %]&service=[% i.service %]">Thruk</a>
        <a href="/tng/grafana-dashboard-helper/jump_to_dashboard_by_series_name.html?q=ncrt_[% i.service %],host%3d[% i.host %]">Grafana</a>
      </td>
    </tr>
    [%- END -%]
  </table>
  [%- END -%]
  [%- IF FIRED_SERVICES_IN_LIST_FORM.size > 0 -%]
  <h3>Alert Group "[% ALERTGROUP %]" Current Service Status</h3>
  <table>
    <tr>
      <th>host</th>
      <th>service</th>
      <th>status</th>
      <th>links</th>
    </tr>
    [%- FOREACH i IN FIRED_SERVICES_IN_LIST_FORM -%]
    [%-     s = FIRING_SERVICES_IN_HASH_FORM.${i.host}.${i.service} -%]
    <tr>
      <td>[% i.host %]</td>
      <td>[% i.service %]</td>
      <td>[% s.state %]</td>
      <td>
        <a href="/tng/thruk/cgi-bin/extinfo.cgi?type=2&host=[% i.host %]&service=[% i.service %]">Thruk</a>
        <a href="/tng/grafana-dashboard-helper/jump_to_dashboard.html?dashboard=[% i.host %],[% i.service %]">Grafana</a>
      </td>
    </tr>
    [%- END -%]
  </table>
  [%- END -%]
  [%- IF FIRED_PERFS_IN_LIST_FORM.size > 0 -%]
  <h3>Current Performance Status</h3>
  <table>
    <tr>
      <th>host</th>
      <th>service</th>
      <th>performance name</th>
      <th>state</th>
      <th>value</th>
      <th>links</th>
    </tr>
    [% FOREACH i IN FIRED_PERFS_IN_LIST_FORM %]
    [%-     s = FIRING_PERFS_IN_HASH_FORM.${i.host}.${i.service}.${i.perf} -%]
    [%-     IF    s.perfstate == "under_warn" %][% state = s.value _ " < " _ s.warn  -%]
    [%-     ELSIF s.perfstate == "over_warn"  %][% state = s.warn  _ " < " _ s.value -%]
    [%-     ELSIF s.perfstate == "under_crit" %][% state = s.value _ " < " _ s.crit  -%]
    [%-     ELSIF s.perfstate == "over_crit"  %][% state = s.crit  _ " < " _ s.value -%]
    [%-     ELSE                              %][% state = "" -%]
    [%-     END -%]
    <tr>
      <td>[% i.host %]</td>
      <td>[% i.service %]</td>
      <td>[% i.perf %]</td>
      <td>[% s.state %]</td>
      <td>[% state %]</td>
      <td><a href="#[%= s.host _ "/" _ s.service _ "/" _ s.perf %]">Graphs</a></td>
    </tr>
    [% END %]
  </table>
  [%- END -%]
  [%- IF PANELS.size > 0 -%]
  <h3>Graphs</h3>
  <ul>
    [% FOREACH i IN PANELS %]
    [%-     section = i.host _ "/" _ i.service _ "/" _ i.perf -%]
    [%      IF section != last_section %]
    <li id="[%= section %]">[%= i.panel_title %]<br><img src="panel_[%=i.panelid%].png"></li>
    [%-         last_section = section -%]
    [%      ELSE %]
    <li>[%= i.panel_title %]<br><img src="panel_[%=i.panelid%].png"></li>
    [%      END -%]
    [% END %]
  </ul>
  [%- END -%]
[% ELSIF ACTION == "rename" -%]
  Next page is <a href="../[%=NEXT_UUID%]/">here.</a>
[% ELSE -%]
  Unknown action "[%=ACTION%]".
[% END -%]
  [% NOW %] last updated.
</body>
</html>
