#
# "mastertype_docker" assumes following system configuration:
#     Browser (User) -> Reverse proxy (Optional) -> Master server host -> Master server docker
#
# "mastertype_docker" strongly recomends that you build a reverse proxy for encrypting your connections.
#

## BROWSERSIDE_URL_PREFIX must be set.
BROWSERSIDE_URL_PREFIX=http://example.com/monitoring/ncrt/

## These settings have default values. You can change them as needed.
#SERVERSIDE_PATH_PREFIX=/
#SERVERSIDE_PORT=80
#GRAFANA_LOCALPORT=3000
#INFLUXDB_LOCALPORT=8086
#LANG=C
#TZ=GMT

## set proxy if you need it.
#PROXY=http://proxyserver.localdomain:8080/

## These settings have no default values.
## If you want to watch syslog messages in the container, SYSLOG_SERVER must be set.
#SYSLOG_SERVER=syslog001vm
## If you want to send alert messages by email, SYSLOG_SERVER must be set.
#SMTP_SERVER=smtp001vm
#SMTP_ORIGINDOMAIN=smtp.example.com
## If you want to change MTU of the container network, MTU must be set.
#MTU=1300

