
PROXY=http://proxyserver.localdomain:8080/
OUTSIDE_PREFIX=http://example.com/monitoring/
OUTSIDE_PORT=80
APACHE_PREFIX=/pub/

GRAFANA_ADMINEMAIL=grafanaadmin@example.com
GRAFANA_USEREMAIL=grafanauser@example.com

#MANAGE_INFLUXDB=1
#MANAGE_GRAFANA=1

