---

- hosts: all
  tasks:
    - name: include variables
      include_vars: "{{WORKDIR}}/vars.yml"
      tags: [ common ]

[% FOREACH hosttype IN HOSTTYPES -%]
[%   IF file_exists(TOOLHOME _ "/conf/agenttype_" _ hosttype _ ".yml") -%]
- name: include customize tasks
  import_playbook: "[%=TOOLHOME _ "/conf/agenttype_" _ hosttype _ ".yml"%]"
  tags: [ common ]
[%   END -%]
[%   IF file_exists(TOOLHOME _ "/plugins/ncrtbuild_agenttype_" _ hosttype _ ".yml") -%]
- name: import playbook [%=hosttype_plugin%]
  import_playbook: "[%=TOOLHOME _ "/plugins/ncrtbuild_agenttype_" _ hosttype _ ".yml"%]"
  tags: [ common ]
[%   END -%]
[% END -%]

