#  In this hosts file, you can specify the hostname of the NCRT agents.
#  It also allows you to specify communication settings to their hosts / agents.
#
#  "agenttype_linux" assumes ncrtagent daemon as the agent, and uses ncrtagent
#  protocol for its communication.
#
#  Following options are available:
#
#      Agent Side Options:
#          home_dir
#          daemon_user			(not used)
#          listen_address
#          listen_port
#          allow
#
#      Master Side Options:
#          timeout
#          agent_address		(default:0.0.0.0)
#          agent_port			(default:46848)
#          agent_protocol		(default:ncrtagent)
#
#      Builder Side Options:
#          ansible_become
#          ansible_user
#          ansible_become_user
#          ansible_become_method
#
*		home_dir=/opt/ncrtagent	daemon_user=ncrtagent	listen_address=0.0.0.0	listen_port=46848	timeout=50	agent_address=	agent_port=46848	allow=127.0.0.0/8,10.5.3.0/24,172.18.65.0/24	ansible_become=yes	ansible_user=opc	ansible_become_user=root	ansible_become_method=sudo

mppfclstwa01nc
mppfclstwa02nc
